body, html {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', Regular;
    background: #f2f2f2;
}

header {
    background: #004899;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    position: fixed;
    width: 90%;
    top: 0px;
    z-index: 10;
}
.titleheader {
    font-weight: 500;
    margin-right: auto;

}
.back-button img {
    width: 24px; /* Adjust as needed */
    height: 24px; /* Maintains aspect ratio */
    /* flex: 0 0 10% */
}
#searchButton {
    cursor: pointer;
    background: #005fa3; /* Darker shade for better contrast */
    border: none;
    padding: 8px 16px;
    border-radius: 0px 5px 5px 0px;
    color: white;
}
.dropButton {
    cursor: pointer;
    background: #005fa3; /* Darker shade for better contrast */
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    color: white;
}

#searchBox input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 5px 0 0 5px;
    background: white;
    color: #333;
    width: 240px;
}

#searchBox {
    display: flex;
}

.logo {
    height: 41px;
    padding-left: 20px;
}

.dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#searchButton {
    cursor: pointer;
    background: #005fa3; /* Darker shade for better contrast */
    border: none;
    padding: 0; /* Remove padding if the image has its own padding */
    border-radius: 0px 5px 5px 0px;
}

#searchButton img {
    width: 19px; /* Or the size you want */
    height: 19px; /* Maintain aspect ratio */
    display: block; /* Remove any default inline padding/margin */
    padding: 10px;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    margin-inline: 60px;
}

.card {
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #fff;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 8px #babecc, -4px -4px 8px #ffffff70;
    transition: transform 0.43s;
    ;
}
.card:hover {
    transform: scale(1.01);

}

.card img {
    width: 100px;
    height: auto;
    margin-left: 20px;
    border-radius: 5px;
}

#loadMore {
    display: block;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background: #004899;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px 5px 0px 0px;
    transition: background-color 0.4s ease, color 0.4s ease;

    }
    #loadMore:hover {
        background: rgb(1, 100, 199); /* Change background color on hover */
        text-decoration: none; /* Remove underline from text */
    }
    
    #loadMore::after {
        content: ''; /* Add content for pseudo-element */
        background-color: #004899;
    }



    
.main {
    margin-top: 100px;
}

@media (max-width: 768px) {
    .main {
        margin-top: 140px;
    }
    header {
        flex-direction: row;
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo {
        order: 1; /* Logo moves to the top */
        text-align: center; /* Center logo */
        margin-bottom: 3px; 
        margin-left: auto;   
    }
    .titleheader {
        font-size: 15px;
    }

    #backButton {
        order: 2; /* Back button comes second */
    }

    h1 {
        flex: 1 100%; /* Title takes full width */
        order: 3; /* Title moves below the logo */
        text-align: center;
        font-size: 1.2em; /* Smaller font size for title */
        padding: 0 10px; /* Padding to prevent text from touching the edges */
    }

    #searchBox {
        order: 4; /* Search box comes below the title */
        flex-basis: calc(100% - 20px); /* Search box takes full width minus padding */
        justify-content: center; /* Center search box */
    }
    #searchBox input[type="text"] {
        padding: 8px;
        border: none;
        border-radius: 5px 0 0 5px;
        background: white;
        color: #333;
        width: 100%;
    }    }

    .dropdown {
        order: 5; /* Dropdown comes last */
        flex-basis: 100%; /* Dropdown takes full width */
        margin-top: 10px; /* Space above dropdown */
    }
    .card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 30px;
        margin-inline: 40px;
    }
